/** drupaltosugar module configuration **/
.main_module_configuration_left {
  float: left;
  width: 33%;
  padding: 5px;
  position: relative;
}
.main_module_configuration_right {
  float: left;
  width: 435px;
  padding: 5px;
  position: relative;
}
.main_module_configuration_right .form-item {
  float: left;
}
.main_module_configuration_right .fieldset-wrapper .form-item {
  width: 580px;
  float: left;
}
.main_module_configuration_right .fieldset-wrapper {
  position: relative;
}
.main_module_configuration_right .form-type-checkbox {
  margin-top: 31px;
  clear: right;
}
.main_module_configuration_left > fieldset {
  min-height: 150px;
}
.main_module_configuration_right > fieldset {
  min-height: 150px;
}
.main_module_configuration_left .webfom_fields {
  padding: 4px;
  line-height: 55px;
  height: 55px;
  border: 1px solid #cccccc;
  border-bottom: 0px solid;
}
.main_module_configuration_left .webfom_fields:last-of-type {
  border-bottom: 1px solid #cccccc;
}
.main_module_configuration_right  .sugar_module_field_list {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #cccccc #cccccc -moz-use-text-color;
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 0;
  float: left;
  width: 100%;
  padding: 4px;
}
.main_module_configuration_right  .sugar_module_field_list_:last-of-type {
  border-bottom: 1px solid #ccccc;
  margin-bottom: 14px;
}
#drupaltosugar-module-configuration-form #edit-module-configuration legend span {
  background: none repeat scroll 0 0 #00bfff;
  height: 26px;
  line-height: 26px;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 5px 1%;
  width: 98%;
}
.next-prev a {
  height: 20px;
  margin-right: 5px;
  display: block;
  border: 1px solid #cccccc;
  padding: 3px;
  float: left;
  min-width: 80px;
  text-align: center;
}
.cron-link a {
  height: 20px;
  margin-right: 5px;
}
.mappling_list {
  clear: both;
}
.webform-cron-interval .webform-interval lable {
  float: left;
  line-height: 42px;
  width: 350px;
}
.main_module_configuration_right .fieldset-wrapper .form-item.form-item-required {
  margin-top: 18px;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  height: auto;
}
.main_module_configuration_right .fieldset-wrapper .form-item.form-item-sugarmodule {
  border: 0;
  height: auto;
  margin-bottom: 10px;
}
.main_module_configuration_right {
  width: 64%;
  padding-left: 1%;
}
.main_module_configuration_right .fieldset-wrapper .form-item {
  width: 49%;
  height: 47px;
  border-bottom: 1px solid #ccc;
  margin: 0;
}
.main_module_configuration_right .fieldset-wrapper .form-item.form-item-relmodule-0,
.main_module_configuration_right .fieldset-wrapper .form-item.form-item-relmodule-1,
.main_module_configuration_right .fieldset-wrapper .form-item.form-item-relmodule-2,
.main_module_configuration_right .fieldset-wrapper .form-item.form-item-relmodule-3,
.main_module_configuration_right .fieldset-wrapper .form-item.form-item-relmodule-4 {
  width: 25%;
}
/*.main_module_configuration_right .fieldset-wrapper .form-item.form-item-relmodule-0,
.main_module_configuration_right .fieldset-wrapper .form-item-sugarmodule-0,
.main_module_configuration_right .fieldset-wrapper .form-item.form-item-sugarfield-0{
  margin-top: 2px;
}*/
.main_module_configuration_right .fieldset-wrapper .form-item.form-item-sugarfield-0,
.main_module_configuration_right .fieldset-wrapper .form-item.form-item-sugarfield-1,
.main_module_configuration_right .fieldset-wrapper .form-item.form-item-sugarfield-2,
.main_module_configuration_right .fieldset-wrapper .form-item.form-item-sugarfield-3,
.main_module_configuration_right .fieldset-wrapper .form-item.form-item-sugarfield-4 {
  width: 20%;
}

/*webform-cron-interval*/
.webform-cron-interval fieldset .fieldset-legend {
  background: #e0e0d8;
  width: 98.8%;
  margin: 0;
}
.webform-interval {
  border-bottom: 1px solid #e0e0d8;
}
.webform-cron-interval .webform-interval lable {
  width: 15%;
}
#edit-module-configuration legend span {
  height: auto;
  line-height: auto;
}
.webform-interval .form-item input {
  width: 30%;
}
#edit-visible--2 {
  width: 100%;
  float: left;
  margin: 0 0 12px 0;
}
#edit-visible--2 .fieldset-wrapper {
  padding-top: 2px;
}
.main_module_configuration_right .fieldset-wrapper .form-item {
  float: left;
}
#edit-module-configuration .main_module_configuration_right .fieldset-wrapper .form-type-select,
#edit-module-configuration .main_module_configuration_right .fieldset-wrapper .sugar-field-third {
  width: 48.7%;
  height: 71px;
  border-bottom: 1px solid #b5b5b5;
  padding: 18px 0 0 1.3%;
  float: left;
}
#edit-module-configuration .main_module_configuration_right .fieldset-wrapper .form-type-select .form-select {
  width: 195px;
}
#edit-module-configuration .main_module_configuration_right .fieldset-wrapper .sugar-form-field-wrapper {
  padding-left: 15px;
  float: left;
  width: 31%;
  border-bottom: 1px solid #ccc;
}
#edit-module-configuration .main_module_configuration_right .fieldset-wrapper .form-item-sugarmodule {
  border: 0;
  margin-bottom: 13px;
}
#edit-module-configuration .main_module_configuration_right .fieldset-wrapper .separater {
  border: 1px solid #bbbbbb;
  border-width: 1px 0;
  color: #0074bd;
  font-size: 14px;
  width: 99%;
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1%;
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
}
#edit-module-configuration .main_module_configuration_right .fieldset-wrapper .sugar-form-field-wrapper .form-item {
  width: 100%;
  border-bottom: 0;
}
#drupaltosugar_integration .drupal-blck {
  border: 1px solid #e0e0d8;
  float: left;
  border-radius: 15px;
  width: 25%;
  margin: 0 3%;
  padding: 1%;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e0e0e4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e0e0e4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e0e0e4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e0e0e4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e0e0e4 100%); /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e4', GradientType = 0); /*IE6-9*/
}
#drupaltosugar_integration .drupal-blck h2 {
  font-weight: normal;
  height: 30px;
}
#drupaltosugar_integration .drupal-blck p {
  margin: 12px 0;
}
#drupaltosugar_integration .buttn {
  background: #0085cc; /* Old browsers */
  background: -moz-linear-gradient(top,  #0085cc 0%, #0045cc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0085cc), color-stop(100%,#0045cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0085cc 0%,#0045cc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0085cc 0%,#0045cc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0085cc 0%,#0045cc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #0085cc 0%,#0045cc 100%); /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#0085cc', endColorstr='#0045cc', GradientType=0); /*IE6-9*/
  padding: 5px;
  border-radius: 5px;
}
#drupaltosugar_integration .buttn a {
  color: #fff;
  background: url("right_arrow.png") no-repeat scroll 277px 6px transparent;
  display: block;
}
#drupaltosugar_integration .buttn a span {
  width: 10px;
  height: 10px;
  float: right;
  background: url(arr-r.png) no-repeat 0 0;
  margin-top: 5px;
}
#drupaltosugar_integration .view-hlp {
  border: 1px solid #c6c4c4;
  border-radius: 4px 0 0 4px;
  background: url(icnuns.png) no-repeat 4px 6px #f2f1f1;
  color: #989898;
  float: left;
  width: 49%;
}
#drupaltosugar_integration .watc-vdeo {
  border: 1px solid #c6c4c4;
  border-radius: 0 4px 4px 0;
  background: url(icnuns.png) no-repeat 4px -18px #f2f1f1;
  color: #989898;
  float: left;
  width: 49%;
}
#drupaltosugar_integration .view-hlp a,
#drupaltosugar_integration .watc-vdeo a {
  display: block;
  padding: 5px 5px 5px 30px;
}
#drupaltosugar-module-configuration-form #edit-module-configuration {
  border: 0;
}
#drupaltosugar-module-configuration-form #edit-module-configuration legend span,
#drupaltosugar-system-configuration  #edit-fieldset legend span,
#drupaltosugar-cron-configuration-form #edit-cron-interval .fieldset-legend {
  background: none;
  color: #0074bd;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 0;
}
#drupaltosugar-cron-configuration-form #edit-cron-interval .fieldset-legend {
  margin: 8px 0 10px 0;
}
#drupaltosugar-module-configuration-form #edit-module-configuration .fieldset-wrapper {
  padding: 0;
}
#drupaltosugar-module-configuration-form #edit-module-configuration .main_module_configuration_left #edit-drupal-form,
#drupaltosugar-module-configuration-form #edit-module-configuration .main_module_configuration_right #edit-sugar-form,
#drupaltosugar-system-configuration #edit-fieldset .fieldset-wrapper,
#drupaltosugar-cron-configuration-form #edit-cron-interval .fieldset-wrapper {
  border: 1px solid #bbbbbb;
  border-radius: 7px;
  padding: 15px;
  box-shadow: 2px 2px 2px #c1c1c1;
}
#drupaltosugar-module-configuration-form #edit-module-configuration .main_module_configuration_left #edit-drupal-form label,
#edit-module-configuration .main_module_configuration_right .fieldset-wrapper .form-item-sugarmodule label {
  float: left;
  width: 140px;
  padding-top: 6px;
}
#drupaltosugar-module-configuration-form #edit-module-configuration .main_module_configuration_left #edit-drupal-form select.form-select,
#drupaltosugar-module-configuration-form #edit-module-configuration .main_module_configuration_right #edit-sugar-form select.form-select,
#drupaltosugar-cron-configuration-form #edit-cron-interval select.form-select {
  padding: 5px;
  border-radius: 5px;
  width: 196px;
}
#edit-module-configuration .main_module_configuration_left .main_module_configuration_left_visible .form-wrapper,
#edit-module-configuration .main_module_configuration_left .main_module_configuration_left_hidden .form-wrapper,
#edit-module-configuration .main_module_configuration_right #show_reuired .form-wrapper {
  background: #fff;
  clear: both;
}
#drupaltosugar-module-configuration-form #edit-module-configuration .main_module_configuration_left .main_module_configuration_left_visible legend,
#drupaltosugar-module-configuration-form #edit-module-configuration .main_module_configuration_left .main_module_configuration_left_hidden legend,
#drupaltosugar-module-configuration-form #edit-module-configuration .main_module_configuration_right #show_reuired legend {
  height: 20px;
}
#drupaltosugar-module-configuration-form #edit-module-configuration .main_module_configuration_left .main_module_configuration_left_visible legend span,
#drupaltosugar-module-configuration-form #edit-module-configuration .main_module_configuration_left .main_module_configuration_left_hidden legend span,
#drupaltosugar-module-configuration-form #edit-module-configuration .main_module_configuration_right #show_reuired legend span {
  font-size: 14px;
  margin: 0;
  padding: 20px 0 10px 8px;
  border-bottom: 1px solid #bbbbbb;
}
.main_module_configuration_left .webfom_fields {
  height: 80px;
  line-height: 80px;
  border: 0;
  border-bottom: 1px dotted #b5b5b5;
  padding-left: 10px;
}
#edit-module-configuration .main_module_configuration_right .fieldset-wrapper .form-item-sugarmodule {
  width: 50%;
  margin: 0;
  height: 43px;
  padding: 9px 0;
}
#drupaltosugar-module-configuration-form #edit-module-configuration .main_module_configuration_right #show_reuired legend span {
  padding: 20px 7px 10px 8px;
}
.mappling_list table,
#drupaltosugar-queue-manager table,
#drupaltosugar-error-list-form table,
#drupaltosugar-pending-list-form table,
#sent-list-form table {
  border: 1px solid #c4c2c2;
}
.mappling_list #edit-modules-mapping,
.mappling_list #edit-modules-mapping .fieldset-wrapper {
  padding: 0;
  border: 0;
}
.mappling_list thead,
#drupaltosugar-queue-manager thead,
#drupaltosugar-error-list-form thead,
#drupaltosugar-pending-list-form thead,
#sent-list-form thead {
  border: 1px solid #c4c2c2;
}
.mappling_list thead th,
#drupaltosugar-queue-manager thead th,
#drupaltosugar-error-list-form thead th,
#drupaltosugar-pending-list-form thead th,
#sent-list-form thead th {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 32%, #e6e6e6 63%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32%, #ffffff), color-stop(63%, #e6e6e6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 32%,#e6e6e6 63%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 32%,#e6e6e6 63%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 32%,#e6e6e6 63%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 32%, #e6e6e6 63%); /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0 ); /*IE6-9*/
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #363636;
  text-shadow: 1px 1px #fff;
}
.mappling_list tr.even,
#drupaltosugar-queue-manager tr.even,
#drupaltosugar-error-list-form tr.even,
#drupaltosugar-pending-list-form tr.even,
#sent-list-form tr.even {
  background: #f1f1f1;
}
.mappling_list td,
#drupaltosugar-queue-manager td,
#drupaltosugar-error-list-form td,
#drupaltosugar-pending-list-form td,
#sent-list-form td {
  padding: 3px 10px;
  font-family: Arial, Helvetica, sans-serif;
}
#drupaltosugar-queue-manager,
#drupaltosugar-error-list-form,
#drupaltosugar-pending-list-form,
#sent-list-form {
  margin-top: 25px;
}
body .page-drupaltosugar {
  padding: 0 40px 40px!important;
  background: #d9d9d9!important;
  margin: 0!important;
  min-height: 650px!important;
}
.branding-drupaltosugar {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e6e5e5 100%)!important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e6e5e5))!important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e6e5e5 100%)!important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #e6e5e5 100%)!important; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #e6e5e5 100%)!important; /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #e6e5e5 100%)!important; /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e5e5', GradientType=0)!important; /* IE6-9 */
  border: 1px solid #b6b6b6;
  margin-top: 10px;
}
.branding-drupaltosugar .page-title {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px #fff;
}
.branding-drupaltosugar ul.primary {
  top: -21px;
  position: relative;
}
.page-admin-drupaltosugar #branding ul.primary li a {
  border-radius: 8px!important;
  padding-bottom: 0!important;
  border: none!important;
  color: #fff!important;
  padding-left: 35px!important;
  box-shadow: 1px 1px 1px #9d9c9c;
}
.system-configuration a {
  background: #13a8f6; /* Old browsers */
  background: url(sp.png) no-repeat 3px 8x, -moz-linear-gradient(top, #13a8f6 1%, #0083ca 100%) url(sp.png) no-repeat 0 0; /* FF3.6+ */
  background: url(sp.png) no-repeat 3px 8px, -webkit-gradient(linear, left top, left bottom, color-stop(1%, #13a8f6), color-stop(100%, #0083ca)); /* Chrome,Safari4+ */
  background: url(sp.png) no-repeat 3px 8px, -webkit-linear-gradient(top, #13a8f6 1%, #0083ca 100%); /* Chrome10+,Safari5.1+ */
  background: url(sp.png) no-repeat 3px 8px, -o-linear-gradient(top, #13a8f6 1%, #0083ca 100%); /* Opera 11.10+ */
  background: url(sp.png) no-repeat 3px 8px, -ms-linear-gradient(top, #13a8f6 1%, #0083ca 100%); /* IE10+ */
  background: url(sp.png) no-repeat 3px 8px, linear-gradient(to bottom, #13a8f6 1%, #0083ca 100%); /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#13a8f6', endColorstr='#0083ca', GradientType=0); /*IE6-9*/
}
.system-configuration a.active {
  background: url(sp.png) no-repeat 3px 8px #686868!important;
}
.module-configuration a {
  background: #13a8f6; /* Old browsers */
  background: url(sp.png) no-repeat 3px -25px, -moz-linear-gradient(top, #13a8f6 1%, #0083ca 100%) url(sp.png) no-repeat 0 0; /* FF3.6+ */
  background: url(sp.png) no-repeat 3px -25px, -webkit-gradient(linear, left top, left bottom, color-stop(1%, #13a8f6), color-stop(100%, #0083ca)); /* Chrome,Safari4+ */
  background: url(sp.png) no-repeat 3px -25px, -webkit-linear-gradient(top, #13a8f6 1%, #0083ca 100%); /* Chrome10+,Safari5.1+ */
  background: url(sp.png) no-repeat 3px -25px, -o-linear-gradient(top, #13a8f6 1%, #0083ca 100%); /* Opera 11.10+ */
  background: url(sp.png) no-repeat 3px -25px, -ms-linear-gradient(top, #13a8f6 1%, #0083ca 100%); /* IE10+ */
  background: url(sp.png) no-repeat 3px -25px, linear-gradient(to bottom, #13a8f6 1%, #0083ca 100%); /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#13a8f6', endColorstr='#0083ca', GradientType=0); /*IE6-9*/
}
.module-configuration a.active {
  background: url(sp.png) no-repeat 3px -25px #686868!important;
}
.cron-configuration a {
  background: #13a8f6; /* Old browsers */
  background: url(sp.png) no-repeat 3px -59px, -moz-linear-gradient(top, #13a8f6 1%, #0083ca 100%) url(sp.png) no-repeat 0 0; /* FF3.6+ */
  background: url(sp.png) no-repeat 3px -59px, -webkit-gradient(linear, left top, left bottom, color-stop(1%, #13a8f6), color-stop(100%, #0083ca)); /* Chrome,Safari4+ */
  background: url(sp.png) no-repeat 3px -59px, -webkit-linear-gradient(top, #13a8f6 1%, #0083ca 100%); /* Chrome10+,Safari5.1+ */
  background: url(sp.png) no-repeat 3px -59px, -o-linear-gradient(top, #13a8f6 1%, #0083ca 100%); /* Opera 11.10+ */
  background: url(sp.png) no-repeat 3px -59px, -ms-linear-gradient(top, #13a8f6 1%, #0083ca 100%); /* IE10+ */
  background: url(sp.png) no-repeat 3px -59px, linear-gradient(to bottom, #13a8f6 1%, #0083ca 100%); /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#13a8f6', endColorstr='#0083ca', GradientType=0); /*IE6-9*/
}
.cron-configuration a.active {
  background: url(sp.png) no-repeat 3px -59px #686868!important;
}
.queue-manager a {
  background: #13a8f6; /* Old browsers */
  background: url(sp.png) no-repeat 3px -90px, -moz-linear-gradient(top, #13a8f6 1%, #0083ca 100%) url(sp.png) no-repeat 0 0; /* FF3.6+ */
  background: url(sp.png) no-repeat 3px -90px, -webkit-gradient(linear, left top, left bottom, color-stop(1%, #13a8f6), color-stop(100%, #0083ca)); /* Chrome,Safari4+ */
  background: url(sp.png) no-repeat 3px -90px, -webkit-linear-gradient(top, #13a8f6 1%, #0083ca 100%); /* Chrome10+,Safari5.1+ */
  background: url(sp.png) no-repeat 3px -90px, -o-linear-gradient(top, #13a8f6 1%, #0083ca 100%); /* Opera 11.10+ */
  background: url(sp.png) no-repeat 3px -90px, -ms-linear-gradient(top, #13a8f6 1%, #0083ca 100%); /* IE10+ */
  background: url(sp.png) no-repeat 3px -90px, linear-gradient(to bottom, #13a8f6 1%, #0083ca 100%); /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#13a8f6', endColorstr='#0083ca', GradientType=0); /*IE6-9*/
}
.queue-manager a.active {
  background: url(sp.png) no-repeat 3px -90px #686868!important;
}
#module_configuration_submit input.form-submit,
#drupaltosugar-system-configuration input.form-submit,
#cron-configuration-form input.form-submit,
#queue-manager input.form-submit {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 36%, #e1e0e0 68%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(36%, #ffffff), color-stop(68%, #e1e0e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 36%, #e1e0e0 68%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 36%, #e1e0e0 68%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 36%, #e1e0e0 68%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 36%, #e1e0e0 68%); /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e0e0', GradientType=0); /*IE6-9*/
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #acacac;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 18px;
}
#drupaltosugar-system-configuration #edit-fieldset,
.page-drupaltosugar #drupaltosugar-cron-configuration-form #edit-cron-interval {
  border: 0;
}
#drupaltosugar-system-configuration #edit-fieldset .fieldset-wrapper,
#drupaltosugar-cron-configuration-form #edit-cron-interval .fieldset-wrapper {
  background: #fff;
  margin-top: 15px;
}
#drupaltosugar-system-configuration #edit-fieldset .fieldset-wrapper label {
  float: left;
  width: 150px;
  padding: 5px 0 0 10px;
  font-weight: normal;
}
#drupaltosugar-system-configuration #edit-fieldset .fieldset-wrapper input.form-text {
  border: 1px solid #c6c6c6;
  padding: 5px;
  border-radius: 5px;
  width: 400px;
}
#drupaltosugar-system-configuration #edit-fieldset .fieldset-wrapper .description {
  padding-left: 160px;
}
#drupaltosugar-system-configuration #edit-test-connection {
  border: 1px solid #9cafcf;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #acacac;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 160px;
  padding: 7px 18px;
}
#drupaltosugar-system-configuration #edit-fieldset legend span {
  line-height: 26px;
  margin-bottom: 10px;
}
#drupaltosugar_integration {
  padding-top: 20px;
}
